# Dependencies
node_modules/

# Builds
dist/
build/
release/

# Logs
npm-debug.log
*.log

# OS-specific
.DS_Store

# IDE-specific
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.swp

# Other
*.tgz
